<% include fragments/header %>
<script type="text/javascript" src="/utility/utilities.js"></script>
<script type="text/javascript" src="/utility/QActorBridge.js"></script>


<h1>Interfaccia comandi</h1>
<table align="center">
	<tr>
		<td>
			<input class="cmdbtn" type="button" id="ExternalAlarm" name="START"
			style="background-image: url('/images/start_cleaning.png')"
			onmousedown="send('startCmd')" />
		</td>
		<td>
			<input class="cmdbtn" type="button" id="ExternalForward" name="FORWARD"
			style="background-image: url('/images/forward.png')"
			onmousedown="send('w');" />
		</td>
		<td>
			<input class="cmdbtn" type="button" id="ExternalAlarm" name="UNITY"
			style="background-image: url('/images/unity3.png')"
			onmousedown="send( 'unityAddr( localhost )';">
			</input>
		</td>
	</tr>
	<tr>
		<td align="center">
			<input class="cmdbtn" type="button" id="ExternalLeft" name="LEFT"
			style="background-image: url('/images/left.png')"
			onmousedown="send('a');" />
		</td>
		<td align="center">
			<input class="cmdbtn" type="button" id="ExternalStop" name="HALT"
			style="background-image: url('/images/halt.png')"
			onmousedown="send('h');" />
		</td>
		<td align="center">
			<input class="cmdbtn" type="button" id="ExternalRight" name="RIGHT"
			style="background-image: url('/images/right.png')"
			onmousedown="send('d');" />
		</td>
	</tr>
	<tr>
		<td align="center">
			<input class="cmdbtn" type="button" id="ExternalAlarm" name="STOP"
			style="background-image: url('/images/stop_cleaning.png')"
			onmousedown="send('stopCmd')" />
		</td>
		<td align="center">
			<input class="cmdbtn" type="button" id="ExternalBackward" name="BACKWARD"
			style="background-image: url('/images/backward.png')"
			onmousedown="send('s');" />
		</td>
		<td align="center">
			<input class="cmdbtn" type="button" id="ExternalAlarm" name="PFRS"
			style="background-image: url('/images/js.png')"
			onmousedown="" /></td>
	</tr>
	<tr>
	<td colspan="3">QUI LO SLIDER PER LA VELOCITA'</td>
	</tr>
	<tr>
	<td colspan="3">QUI LO SLIDER PER LA TEMPERATURA</td>
	</tr>
	<tr>
	<td colspan="3">QUI LO SLIDER PER IL TEMPO</td>
	</tr>
</table>
<div class="console" id="cmdconsole" style="height: 100px;"></div>
<script>
var console = document.getElementById('cmdconsole');

function contentChanged() {
	console.scrollTop = console.scrollHeight;
}

addLoadEvent(function() {
if(window.addEventListener) {
   // Normal browsers
   console.addEventListener('DOMSubtreeModified', contentChanged, false);
} else
   if(window.attachEvent) {
      // IE
      console.attachEvent('DOMSubtreeModified', contentChanged);
   }
});

</script>

<% include fragments/footer %>