<% include fragments/header.ejs %>
	<h1>Login</h1>
		<form method="post" action="/login/reqLogin">
			<label>Username:</label>
			<br>
			<input type="text" name="username"/>
			<br>
			<label>Password:</label>
			<br>
			<input type="password" name="pwd"/>
			<br><br>
			<input type="submit" name="submit"/>
	</form>
<% include fragments/footer.ejs %>