<% include fragments/header %>

	<script>
	function validateForm() {
		var email = document.forms["signup"]["email"].value;
		var valid_email = function(email) { return /^.+@.+\..+$/.test(email); }(email);
	}
	</script>

	<h1>Sign-Up</h1>
	<form name="signup" method="post" action="/signup/reqSignUp" onsubmit="return validateForm()">
		<label>Username<span style="color: red">*</span>:</label>
		<br>
		<input type="text" name="username"/>
		<br>
		<label>Password<span style="color: red">*</span>:</label>
		<br>
		<input type="password" name="pwd"/>
		<br>
		<label>Confirm Password<span style="color: red">*</span>:</label>
		<br>
		<input type="password" name="pwdConf"/>
		<br>
		<label>Email:</label>
		<br>
		<input type="text" name="email"/>
		<br>
		<label>Name<span style="color: red">*</span>:</label>
		<br>
		<input type="text" name="name"/>
		<br>
		<label>Last Name<span style="color: red">*</span>:</label>
		<br>
		<input type="text" name="last_name"/>
		<br>
		<label>Role:</label>
		<br>
		<input type="text" name="role"/>
		<br>
		<label>Bio:</label>
		<br>
		<textarea rows="6" cols="50" name="bio"></textarea>
		<p style="color: red">(*) Can't be changed later!</p>
		<br/>
		<input type="submit" name="submit"/>
	</form>
<% include fragments/footer %>