<% include fragments/header.ejs %>
    
	<h1>Registrazione avvenuta con successo</h1>
	<p>You should receive an email with- nah, just kidding, you're good to go.</p>
	
<% include fragments/footer.ejs %>