<% include fragments/header.ejs %>

	<h1>List of all users</h1>
	<div class="userwrap">
		<ul class="user">
			<%
				count = 'odd';
				function update() { return count == 'odd' ? 'even' : 'odd'; }
				if(typeof users !== 'undefined'){ 
				users.forEach(function(u){
					count = update(); 
			%>
					<li class="user"><a class="user <%= count %>" href="/users/profile?username=<%= u.username %>"><%= u.username %></a></li>
			<%
				});
			 }
			%>
		</ul>
	</div>
	
<% include fragments/footer.ejs %>