<% include fragments/header %>

	<h1>About</h1>
	<table>
		<tr><td class="linfo mono">R</td><td rowspan="8" class="vline"></td><td class="rinfo">Robot</td></tr>
		<tr><td class="linfo mono">A</td><td class="rinfo">Atto a</td></tr>
		<tr><td class="linfo mono">P</td><td class="rinfo">Pulire</td></tr>
		<tr><td class="linfo mono">I</td><td class="rinfo">Instancabilmente con</td></tr>
		<tr><td class="linfo mono">D</td><td class="rinfo">Devozione</td></tr>
		<tr><td class="linfo mono">A</td><td class="rinfo">Alloggi e</td></tr>
		<tr><td class="linfo mono">S</td><td class="rinfo">Stanze</td></tr>
		<tr><td class="linfo mono">H</td><td class="rinfo">d'Hotel</td></tr>
	</table>
	<hr/>
	<table>
		<tr><td class="linfo">Trello:</td><td rowspan="2" class="vline"></td><td class="rinfo"><a href="https://trello.com/b/ibUTqxu3">https://trello.com/b/ibUTqxu3</a></td></tr>
		<tr><td class="linfo">Google Docs:</td><td class="rinfo"><a href="https://docs.google.com/document/d/1IKIEVzvzkzGqzmZqMZ2dPKka0sUl50iE9sl_Td5KtLE/edit?usp=sharing">Project Report</a></td></tr>
	</table>
	<hr/>

<%include fragments/footer %>