<% include fragments/header %>
<script type="text/javascript" src="/scripts/utilities.js"></script>
<script type="text/javascript" src="/scripts/QActorBridge.js"></script>
<!-- Slider utils -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
$(function() {
	// TIME RANGE SLIDER
	$("#timeslider").slider({
		range : true,
		min : <%= resources.sensors.clock.min %>,
		max : <%= resources.sensors.clock.max %>,
		values: [<%= resources.sensors.clock.lb %>,<%= resources.sensors.clock.ub %>],
		stop: function(event,ui) {
			$.get("/settings/resources",
			{
				type : "sensors",
				id : "clock",
				field : "lb",
				value : ui.values[0]
			},
			function(data) {
				$('#clb').html(ui.values[0] + ' <%= resources.sensors.clock.unit %>');
			});
			$.get("/settings/resources",
			{
				type : "sensors",
				id : "clock",
				field : "ub",
				value : ui.values[1]
			},
			function(data) {
				// Nothing
			});
			send("custom(update,time_bounds(" + ui.values[0] + "," + ui.values[1] +"))");
		},
		slide: function(event,ui) {
			$('#cub').html(ui.values[1] + ' <%= resources.sensors.clock.unit %>');
		}
	});
	
	// TEMP SLIDER
	$('#tempslider').slider({
		orientation: "vertical",
		range: false,
		min: <%= resources.sensors.temperature.min %>,
		max: <%= resources.sensors.temperature.max %>,
		value: <%= resources.sensors.temperature.ub %>,
		stop: function (event, ui) {
			$.get("/settings/resources",
			{
				type : "sensors",
				id : "temperature",
				field : "ub",
				value : ui.value
			},
			function(data) {
				send("custom(update,temp_threshold(" + ui.value + "))");
			});
		},
		slide: function(event,ui) {
			$('#tub').html(ui.value + ' <%= resources.sensors.temperature.unit %>');
		}
	});
	
	// SPEED SLIDER
	$('#speedslider').slider({
		orientation: "vertical",
		range: false,
		min: 0,
		max: 100,
		value: 0,
		slide: function (event, ui) {
			// Sembra che il server di soffritti non consenta di settare la velocità.
			// Se troviamo il modo implemento, se no lascio il mock.
		}
	});
});
</script>


<h1>Interfaccia comandi</h1>
<table align="center">
	<tr>
		<td align="center" rowspan="3" class="cmdspeed">
			<span id="spd">
				low
			</span>
			<div id="speedslider"></div>
		</td>
		<td align="center">
			<input class="cmdbtn" type="button" id="ExternalAlarm" name="START"
			style="background-image: url('/images/start_cleaning.png')"
			onmousedown="send('startcmd')" />
		</td>
		<td align="center">
			<input class="cmdbtn" type="button" id="ExternalForward" name="FORWARD"
			style="background-image: url('/images/forward.png')"
			onmousedown="send('w');" />
		</td>
		<td align="center">
			<input class="cmdbtn" type="button" id="ExternalAlarm" name="UNITY"
			style="background-image: url('/images/unity3.png')"
			onmousedown="send( 'unityAddr( localhost )';">
			</input>
		</td>
		<td align="center" rowspan="3" class="cmdtemp">
			<span id="tub">
				<%= resources.sensors.temperature.ub%> <%= resources.sensors.temperature.unit %>
			</span>
			<div id="tempslider"></div>
		</td>
	</tr>
	<tr>
		<td align="center">
			<input class="cmdbtn" type="button" id="ExternalLeft" name="LEFT"
			style="background-image: url('/images/left.png')"
			onmousedown="send('a');" />
		</td>
		<td align="center">
			<input class="cmdbtn" type="button" id="ExternalStop" name="HALT"
			style="background-image: url('/images/halt.png')"
			onmousedown="send('h');" />
		</td>
		<td align="center">
			<input class="cmdbtn" type="button" id="ExternalRight" name="RIGHT"
			style="background-image: url('/images/right.png')"
			onmousedown="send('d');" />
		</td>
	</tr>
	<tr>
		<td align="center">
			<input class="cmdbtn" type="button" id="ExternalAlarm" name="STOP"
			style="background-image: url('/images/stop_cleaning.png')"
			onmousedown="send('stopcmd')" />
		</td>
		<td align="center">
			<input class="cmdbtn" type="button" id="ExternalBackward" name="BACKWARD"
			style="background-image: url('/images/backward.png')"
			onmousedown="send('s');" />
		</td>
		<td align="center">
			<input class="cmdbtn" type="button" id="ExternalAlarm" name="PFRS"
			style="background-image: url('/images/js.png')"
			onmousedown="" /></td>
	</tr>
	<tr>
		<td align="center" colspan="5" class="cmdtime">
			<span id="clb"><%= resources.sensors.clock.lb %> <%= resources.sensors.clock.unit %></span>
			<div id="timeslider"></div>
			<span id="cub"><%= resources.sensors.clock.ub %> <%= resources.sensors.clock.unit %></span>
		</td>
	</tr>
</table>
<div class="console" id="cmdconsole" style="height: 100px; margin-top: 10px;"></div>
<script>
var console = document.getElementById('cmdconsole');

function contentChanged() {
	console.scrollTop = console.scrollHeight;
}

addLoadEvent(function() {
if(window.addEventListener) {
   // Normal browsers
   console.addEventListener('DOMSubtreeModified', contentChanged, false);
} else
   if(window.attachEvent) {
      // IE
      console.attachEvent('DOMSubtreeModified', contentChanged);
   }
});
</script>

<% include fragments/footer %>