<% include fragments/header %>
	<h1>Editing profile for <%= target.username %></h1>
	<div>
		<form method="post" action="/users/profile/edit/submit">
			<table>
			<tr><td class="linfo">Username:</td><td rowspan="6" class="vline"></td><td class="rinfo"><input type="text" name="username" value="<%= target.username %>" readonly="true"/></td></tr>
			<tr><td class="linfo">Email:</td><td class="rinfo"><input type="text" name="email" value="<%= target.email %>"/></td></tr>
			<tr><td	class="linfo">Name:</td><td class="rinfo"><input type="text" name="name" value="<%= target.name %>" disabled="true"/></td></tr>
			<tr><td	class="linfo">Last Name:</td><td class="rinfo"><input type="text" name="last_name" value="<%= target.last_name%>" disabled="true"/></td></tr>
			<tr><td	class="linfo">Role:</td><td class="rinfo"><input type="text" name="role" value="<%= target.role %>"/></td></tr>
			<tr><td class="linfo">Biography:</td><td class="rinfo"><textarea rows="6" cols="50" name="bio"><%= target.bio %></textarea></td></tr>
		</table><br/>
		<input type="submit" name="submit" value">
		</form>
	</div>
<% include fragments/footer %>