<% include fragments/header %>

	<h1>Profile of <%= target.username %> <% if (target.admin) { %><span style="color: gold">★</span><% } %></h1>
		<% if(user !== undefined) {
			if (user.admin || user.username == target.username) {%>
			<form action="/users/profile/edit?username=<%= target.username %>" method="get" class="profile">
				<input type="hidden" name="username" value="<%= target.username%>"/>
				<input type="submit" value="Edit profile"/>
			</form>
			<form action="/users/profile/delete?username=<%= target.username %>" method="get" class="profile">
				<input type="hidden" name="username" value="<%= target.username%>"/>
				<input type="submit" value="Delete profile"/>
			</form><br/>
		<% } }%>
	<div>
		<table>
			<tr><td class="linfo">Username:</td><td rowspan="7" class="vline"></td><td class="rinfo"><%= target.username %></td></tr>
			<tr><td class="linfo">Email:</td><td class="rinfo"><%= target.email %></td></tr>
			<tr><td	class="linfo">Name:</td><td class="rinfo"><%= target.name %></td></tr>
			<tr><td	class="linfo">Last Name:</td><td class="rinfo"><%= target.last_name %></td></tr>
			<tr><td	class="linfo">Role:</td><td class="rinfo"><%= target.role %></td></tr>
			<tr><td class="linfo"><hr/></td><td class="rinfo"><hr/></td></tr>
			<tr><td class="linfo">Biography:</td><td class="rinfo"><%= target.bio %></td></tr>
		</table>
		<hr/>
	</div>

<%include fragments/footer %>