<% include fragments/header %>

	<script>
	</script>
	<script src="/scripts/signup_scripts.js" type="application/javascript"></script>

	<h1>Sign-Up</h1>
	<form name="signup" method="post" action="/signup/reqSignUp">
		<label>Username<span style="color: red">*</span>:</label>
		<br>
		<input type="text" name="username"/>
		<br>
		<label>Password<span style="color: red">*</span>:</label>
		<br>
		<input type="password" name="pwd" id="pwd" onkeyup="checkPwdConf();"/>
		<br>
		<label>Confirm Password<span style="color: red">*</span>:</label>
		<br>
		<input type="password" name="pwdConf" id="pwdConf" onkeyup="checkPwdConf();"/>
		<br>
		<label>Email:</label>
		<br>
		<input type="text" name="email" id="email" onkeyup="validateEmail();"/>
		<br>
		<label>Name<span style="color: red">*</span>:</label>
		<br>
		<input type="text" name="name"/>
		<br>
		<label>Last Name<span style="color: red">*</span>:</label>
		<br>
		<input type="text" name="last_name"/>
		<br>
		<label>Role:</label>
		<br>
		<input type="text" name="role"/>
		<br>
		<label>Bio:</label>
		<br>
		<textarea rows="6" cols="50" name="bio"></textarea>
		<p style="color: red">(*) Can't be changed later!</p>
		<br/>
		<input type="submit" name="submit"/>
	</form>
<% include fragments/footer %>