<% include fragments/header.ejs %>
	
	<h1>Login</h1>
		<form method="post" action="/login/request">
			<label>Username:</label>
			<br>
			<input type="text" name="username"/>
			<br>
			<label>Password:</label>
			<br>
			<input type="password" name="pwd"/>
			<br><br>
			<input type="submit" name="submit"/>
			<input id="destination" type="hidden" name="destination" />
	</form>
	
	<script>
		var query = window.location.search.substring(1);
		var vars = query.split('&');
		for (var i = 0; i < vars.length; i++) {
			var pair = vars[i].split('=');
			if (pair[0] == "destination") {
				document.getElementById("destination").value = pair[1];
				break;
			}
		}
	</script>
	
<% include fragments/footer.ejs %>