<% include fragments/header %>

	<h1>Robot Status</h1>
	<div class="settingswrap">
		<table class="settings">
			<!-- Nome robot -->
			<tr><td class="settingstitle2"><%= robot.name %></td></tr>
			<!-- Dati vari robot -->
			<tr>
				<td>
					<table class="settings">
						<tr><td colspan="3" class="settingstitle"><%= robot.meaning %></td></tr>
						<!-- Immagine robot -->
						<tr><td colspan="3"><img src="<%= robot.image %>"/></td></tr>
						<tr>
							<td rowspan="2"><%= robot.description %></td>
							<td class="settingstitle">PORT</td>
							<td class="settingstitle">STATE</td>
						</tr>
						<tr>
							<td><%= robot.port %></td>
							<td><%= robot.state %></td>
						</tr>
					</table>
				</td>
			</tr>
			<!-- Sonar -->
			<tr>
				<td>
					<table class="settings">
						<tr>
							<% var i; for(i = 0; i < robot.sonar.length; i++) { %>
							<td class="settingstitle"><%= robot.sonar[i].name %></td>
							<% } %>
						</tr>
						<tr>
							<% var i; for(i = 0; i < robot.sonar.length; i++) { %>
							<td><%= robot.sonar[i].value %></td>
							<% } %>
						</tr>
						<tr>
							<% var i; for(i = 0; i < robot.sonar.length; i++) { %>
							<td><hr class="settings"/></td>
							<% } %>
						</tr>
						<tr>
							<% var i; for(i = 0; i < robot.sonar.length; i++) { %>
							<td><%= robot.sonar[i].description %></td>
							<% } %>
						</tr>
					</table>
				</td>
			</tr>
			<!-- Comandi robot -->
			<tr><td class="settingstitle2">Commands</td></tr>
			<tr>
				<td>
					<table class="settings">
						<tr>
							<%for(var i in robot.commands) { %>
							<td class="settingstitle"><%= robot.commands[i].name %></td>
							<% } %>
						</tr>
						<tr>
							<%for(var i in robot.commands) { %>
							<td><img src="<%= robot.commands[i].image %>" class="logo"/></td>
							<% } %>
						</tr>
						<tr>
							<%for(var i in robot.commands) { %>
							<td><hr class="settings"/></td>
							<% } %>
						</tr>
						<tr>
							<%for(var i in robot.commands) { %>
							<td><%= robot.commands[i].description %></td>
							<% } %>
						</tr>
					</table>
				</td>
			</tr>
			
			<!-- Sensori -->
			<tr><td class="settingstitle2">Sensors</td></tr>
			<tr>
				<td>
					<table class="settings">
						<tr>
							<%for(var i in resources.sensors) { %>
							<td colspan="2" class="settingstitle"><%= resources.sensors[i].name %></td>
							<% } %>
						</tr>
						<tr>
							<%for(var i in resources.sensors) { %>
							<td class="settingsval"><%= resources.sensors[i].value %></td>
							<td class="settingsunit"><%= resources.sensors[i].unit %></td>
							<% } %>
						</tr>
						<tr>
							<%for(var i in resources.sensors) { %>
							<td colspan="2"><hr class="settings"/></td>
							<% } %>
						</tr>
						<tr>
							<%for(var i in resources.sensors) { %>
							<td colspan="2"><%= resources.sensors[i].description %></td>
							<% } %>
						</tr>
					</table>
				</td>
			</tr>
			
			<!-- Attuatori -->
			<tr><td class="settingstitle2">Actuators</td></tr>
			<tr>
				<td>
					<table class="settings">
						<tr>
							<%for(var i in resources.actuators) { %>
							<td class="settingstitle"><%= resources.actuators[i].name %></td>
							<% } %>
						</tr>
						<tr>
							<%for(var i in resources.actuators) { %>
							<td id="actuator<%= i %>"><%= resources.actuators[i].value == "true" ? "ON" : "OFF" %></td>
							<% } %>
						</tr>
						<tr>
							<%for(var i in resources.actuators) { %>
							<td><hr class="settings"/></td>
							<% } %>
						</tr>
						<tr>
							<%for(var i in resources.actuators) { %>
							<td><%= resources.actuators[i].description %></td>
							<% } %>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
<%include fragments/footer %>