<% include fragments/header.ejs %>
    
	<h1>Welcome <%= user.username %>!</h1>
	<p>Hello! You are logged in as <%= user.username %>.<br/>
	Use the menu on the upper part of the page to navigate through the site.<br/>
	Below is a quick summary of what each page is about.</p>
	<table class="welcome">
		<tr>
			<td class="linfo">
				About
			</td>
			<td rowspan="5" class="vline"></td>
			<td class="rinfo">
				A page giving some context information on the project.
			</td>
		</tr>
		<tr>
			<td class="linfo">
				Command
			</td>
			<td  class="rinfo">
				A UI that can be used to control the R.A.P.I.D.A.S.H. robot.
			</td>
		</tr>
		<tr>
			<td class="linfo">
				Robot Status
			</td>
			<td class="rinfo">
				A page detailing information on the robot. It also shows the current status of
				sensors and actuators while the robot is online.
			</td>
		</tr>
		<tr>
			<td class="linfo">
				All Users
			</td>
			<td class="rinfo">
				A page providing a list of all the users registered. Each profile can be accessed
				for more information about the specific user.
			</td>
		</tr>
		<tr>
			<td class="linfo">
				My Profile
			</td>
			<td class="rinfo">
				A page that contains all the information the server keeps about you.
			</td>
		</tr>
	</table>
	On the bottom part of the page are links to the profile page of the four admins.
	
<% include fragments/footer.ejs %>