﻿@font-face {
	font-family: 'Cinzel';
	font-style: normal;
	font-weight: 400;
	src: local('Cinzel-Regular'), url(http://themes.googleusercontent.com/static/fonts/cinzel/v1/Hm1qjDlZpOdVXoa-QGE7_w.ttf) format('truetype');
}

@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/poiretone/v1/HrI4ZJpJ3Fh0wa5ofYMK8S3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

/* HEADER & FOOTER */

html, body {
	height: 100%;
}

table.header {
	z-index: 3;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: white;
}

ul.header {
	z-index: 2;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #bb2e29;
	
	position: fixed;
	top: 74px;
	width: 100%;
}

ul.footer {
	z-index: 2;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #bb2e29;
	
	position: fixed;
	bottom: 0;
	width: 100%;
}

li.header {
	float: left;
}

li.footer {
	float: right;
}

li a.header, li a.footer {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a.header:hover {
	background-color: #88312f;
}

.rapidash {
	font-family: PoiretOne-Regular,serif;
	font-style: italic;
	font-size: 1.4em;
	color: black;
	width: 215px;
}

.pulibot {
	font-family: PoiretOne-Regular,serif;
	font-style: italic;
	font-size: 0.8em;
	color: black;
	width: 215px;
}

.logo {
	height: 60px;
	width: 60px;
	padding: 5px;
}

.alma {
	font-family: Cinzel,Tahoma,sans-serif;
	color: #6d6e71;
	text-transform: uppercase;
	width: 215px;
}

div.welcome {
	z-index: 1;
	font-size: 0.8em;
	background-color: #88312f;
	color: white;
	padding: 1px;
	position: fixed;
	top: 124px;
	width: 100%;
	height: 20px;
}

/* GENERAL */

div.mainwrap {
	position: absolute;
	top: 144px;
	bottom: 50px;	
	overflow: auto;
	width: 100%;
	background-color: #fafafa;
	text-align: center;
}

div.main {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	width: 50%;
	background-color: white;
	display: inline-block;
	min-height: 100%;
}

/* PROFILE PAGE */

/* Left side of a table of information */
td.linfo {
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	width: 50%;
}

/* Right side of a table of information */
td.rinfo {
	padding-left: 10px;
	color: #777;
	width: 50%;
	text-align: justify;
}

/* Vertical line in a table, used as a separator */
td.vline {
	background-color: black;
	width: 2px;
}

textarea {
	resize: vertical;
	/*width: 218px;*/
	width: 400px;
}

/* COMMAND PAGE */

/* Command page directional button */
.cmdbtn {
	height: 100px;
	width: 100px;
	background-image: url('/images/unity.png');
	background-repeat: no-repeat;
	background-size: 80px 80px;
	background-position: center
}

div.console {
	text-align: left;
	font-family: "Lucida Console", Monaco, monospace;
	border: 1px solid black;
	padding: 10px;
	overflow: auto
}

/* USER LIST */

div.userwrap {
	min-height: 100px;
	overflow: auto;
	text-align: center;
}

ul.user {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 80%;
	border: 1px solid #BEBEBE;
}

li.user {
	/* Nothing for now */
}

li a.user {
	display: block;
	text-align: center;
	padding: 10px;
	text-decoration: none;
}

li a.user:hover {
	background-color: #BEBEBE;
}

li a.odd {
	background-color: #F5F5F5
}

li a.even {
	background-color: white;
}