			</div> <!-- main div -->
		</div> <!-- main wrap div -->
		<ul class="footer">
			<li class="footer"><a class="footer" href="/users/profile?username=Alberto">Alberto Bambini</a></li>
			<li class="footer"><a class="footer" href="/users/profile?username=Francesco">Francesco Frassineti</a></li>
			<li class="footer"><a class="footer" href="/users/profile?username=Matteo">Matteo Grilli</a></li>
			<li class="footer"><a class="footer" href="/users/profile?username=Kevin">Kevin Leto</a></li>
		</ul>
    </body>
</html>