<html>
    <head>
        <title>Final task 2018: <%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
		<link rel="stylesheet" href="/stylesheets/w3.css"/>
    </head>
    <body>
		<table style="width:100%" class="header">
			<tr>
				<td class="logo" rowspan="2"><img src="/images/rapidash.png" class="logo"/></td>
				<td class="rapidash">R.A.P.I.D.A.S.H.</td>
				<td rowspan="2"><!-- SPACE --></td>
				<td class="alma" rowspan="2">Alma mater studiorum<br/>Università di Bologna</td>
				<td class="logo" rowspan="2"><a href="https://www.unibo.it/it" target="_blank"><img src="/images/sigillo2x.png" class="logo"/></a></td>
			</tr>
			<tr>
				<td class="pulibot" valign="top">aka Pulibot 3000</td>
			</tr>
		</table>
		<ul class="header">
			<li class="header"><a class="header" href="/about">About</a></li>
			<% if(typeof user == "undefined"){ %>
			<li class="header"><a class="header" href="/signup">Sign-Up</a></li>
			<% } %>
			<% if(typeof user != "undefined"){ %>
			<li class="header"><a class="header" href="/logout">Logout</a></li>
			<% } %>
			<li class="header"><a class="active header" href="/command">Command</a></li>
			<li class="header"><a class="header" href="/users">All Users</a></li>
			<% if(typeof user != "undefined"){ %>
			<li class="header"><a class="header" href="/users/profile?username=<%= user.username %>">My Profile</a></li>
			<% } %>
		</ul>
		<div class="welcome">
		<% if(typeof user != "undefined"){ %>
			Welcome, <%= user.username %>
		<% } %>
		</div>
		<div class="mainwrap">
				<div class="main">
					
				